<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.BankMapper.xml">
		<select id="selBank" resultType="problem.BankDTO">
			SELECT * FROM tbl_bank
			ORDER BY bno
		</select>
		
		<select id="selectAccount" resultType="problem.BankDTO">
			SELECT * FROM tbl_bank
			WHERE bno = #{bno} AND pw = #{pw}
		</select>
		<insert id="insertBank">
			INSERT INTO tbl_bank(bno, bname, pw)
			VALUES(seq_bank.NEXTVAL, #{bname}, #{pw})
		</insert>
		<update id="updateBank" parameterType="map">
			UPDATE tbl_bank
			SET money = money + #{money}
			WHERE bno = #{bno}
		</update>
		<delete id="deleteAccount" parameterType="HashMap">
			DELETE FROM tbl_bank
			WHERE bno = #{bno} AND pw = #{pw}
		</delete>
		<select id="balanceMoney" resultType="Integer">
			SELECT money FROM tbl_bank
			WHERE bno = #{bno}
		</select>
		<select id = "checkUser" resultType="integer">
			SELECT COUNT(*) FROM tbl_bank
			WHERE bno = #{bno} AND pw = #{pw}
		</select>
		<update id="minusMoney">
			UPDATE tbl_bank
			SET money = money - #{money}
			WHERE bno = #{bno}
		</update>
		<!--  동적쿼리  -->
			<update id="changeMoney" parameterType="map">
			UPDATE tbl_bank SET
			<if test="flag == 1">
				money = money + #{money}
			</if>
			<if test="flag == 0">	
				money = money - #{money}
			</if>
			WHERE bno = #{bno}
		</update>
</mapper>